<div class="container-fluid py-5">
    <h1>Create Client</h1>
    <form class="col-12 col-md-6 col-lg-3" [formGroup]="clientformgroup" (ngSubmit)="saveuser()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="email" class="form-control" placeholder="Enter Name" formControlName="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
          </div>
          <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="email" class="form-control" placeholder="Enter Phone Number" formControlName="phone">
          </div>
          <div class="mb-3">
            <label class="form-label">Website</label>
            <input type="email" class="form-control" placeholder="Enter website Link" formControlName="website">
          </div>
        <button class="btn btn-primary">Submit</button>
      </form>


      <div class="col-12 py-5">
        <h1>Client List</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>s.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>website</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersArray">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                    <!-- <td>
                        <button class="btn btn-primary" (click)="editclient(user.id)">Edit</button>
                    </td> -->
                </tr>
            </tbody>

        </table>
      </div>
</div>